<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <title>Ingredient List</title>
  <link th:href="@{/css/homeChecklist.css}" rel="stylesheet" />
  <script  src="/js/jquery.js" type ="text/javascript"></script>
  <script  src="/js/homeDish.js" type ="text/javascript"></script>

</head>
<body>
<div id="top">
  <div id ="logo">
    <img src="/pictures2/logo2.png" style="width: 220px ;height: 100px">
  </div>
  <div id ="top2">
    <div id ="menu">
      <ul>
        <li><a href="#" title="HOME"><strong>HOME</strong></a></li>
        <li><a href="#" title="INTRODUCE"><strong>NGUYÊN LIỆU</strong></a></li>
        <li><a href="#" title="ABOUT"><strong>BẢNG KIỂM</strong></a></li>
        <li><a href="#" title="MENU"><strong>MENU</strong></a></li>
        <li><a href="#" title="ENETS"><strong>TRỢ GIÚP</strong></a></li>
        <li><a href="#" title="CONTACTS"><strong>LIÊN HỆ</strong></a></li>
        <li><a href="#" title="dangxuat"><strong>ĐĂNG XUẤT</strong></a></li>


      </ul>
    </div>
    <div id = "abc">
      <div id ="tk">
        <div id ="timkiem">
          <div class="box">
            <input type="text" placeholder="Search here" style="">
            <a><i class="fas fa-search-location"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<h3>Ingredients</h3>
<p>
  <a th:href="@{/home/ingredient/create}">Add new ingredient</a>
</p>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<table id="ingredients" border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Amount Begin</th>
    <th>Amount End</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="row,rowStat : ${ingredients}">
    <td th:text="${row.getId()}"></td>
    <td th:text="${row.getName()}"></td>
    <td th:text="${row.getAmountBegin()}"></td>
    <td th:text="${row.getAmountEnd()}"></td>
    <td><a th:href="@{/home/ingredient/__${row.id}__/edit}">edit</a></td>
    <td><a th:href="@{/home/ingredient/__${row.id}__/delete}">delete</a></td>
    <td><a th:href="@{/home/ingredient/__${row.id}__/view}">view</a></td>
  </tr>
  </tbody>
</table>
<footer>
  <div id="footer">
    <div id ="ft1">
      <ul>
        <h2>Giới thiệu</h2>
        <a> Hệ thông cửa hàng</a>
        <a> Khuyến mại</a>
        <a> Tuyển dụng</a>
        <a> Liên hệ</a>
      </ul>
    </div>
    <div id ="ft2">
      <img src="/pictures2/face.png" style="width: 20px; height: 20px">
      <img src="/pictures2/ims.png" style="width: 20px; height: 20px">
      <img src="/pictures2/tw.jpg" style="width: 20px; height: 20px">
      <img src="/pictures2/za.webp" style="width: 20px; height: 20px">
      <img src="/pictures2/you.png" style="width: 20px; height: 20px">
      <img src="/pictures2/gg.png" style="width: 20px; height: 20px">
      <img src="/pictures2/ggm.png" style="width: 20px; height: 20px">
    </div>
  </div>
</footer>
</body>
</html>