<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ingredient</title>
</head>
<body>
<h3>Ingredient Information</h3>
<p>
  <a th:href="@{/home/ingredient}">Back to ingredient list</a>
</p>
<div id="form">
  <form action="#"  th:object="${ingredient}">
    <fieldset>
      <legend>ingredient Information</legend>
      <tr>
        <div>
          <td></td>
          <label>ID</label></td>
          <td><input type="text" th:field="*{id}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label>Name</label></td>
          <td><input type="text" th:field="*{name}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label>Amount</label></td>
          <td><input type="text" th:field="*{amount}" readonly></td>
        </div>
      </tr>

    </fieldset>
  </form>
</div>

</body>
</html>