<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/homeEmployee.css}" rel="stylesheet" />
<script  src="/js/jquery.js" type ="text/javascript"></script>
<script  src="/js/homeDish.js" type ="text/javascript"></script>
<head>
  <meta charset="UTF-8">
  <title>Delete form</title>
</head>
<body>
<div id="top">
  <div id ="logo">
    <img src="/pictures2/logo2.png" style="width: 220px ;height: 100px">
  </div>
  <div id ="top2">
    <div id ="menu">
      <ul>
        <li><a href="#" title="HOME"><strong>HOME</strong></a></li>
        <li><a href="#" title="INTRODUCE"><strong>NGUYÊN LIỆU</strong></a></li>
        <li><a href="#" title="ABOUT"><strong>BẢNG KIỂM</strong></a></li>
        <li><a href="#" title="MENU"><strong>MENU</strong></a></li>
        <li><a href="#" title="ENETS"><strong>TRỢ GIÚP</strong></a></li>
        <li><a href="#" title="CONTACTS"><strong>LIÊN HỆ</strong></a></li>
        <li><a href="#" title="dangxuat"><strong>ĐĂNG XUẤT</strong></a></li>


      </ul>
    </div>
    <div id = "abc">
      <div id ="tk">
        <div id ="timkiem">
          <div class="box">
            <input type="text" placeholder="" style="">
            <a><i class="fas fa-search-location"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<h3>Delete Employee</h3>
<p>
  <a th:href="@{/home/employee}"><button>Back to employee list</button></a>
</p>
<H1>Are you sure?</H1>
<div id="form">
  <form action="#" th:action="@{/home/employee/delete}" th:object="${employee}" method="post">
    <fieldset>
      <legend>Employee Information</legend>
      <tr>
        <div>
          <td></td>
          <label style="margin-right: 80px">ID</label></td>
          <td><input type="text" th:field="*{id}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label style="margin-right: 60px">Name</label></td>
          <td><input type="text" th:field="*{name}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label>Number Contact</label></td>
          <td><input type="text" th:field="*{numberContact}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label style="margin-right: 68px">Shift</label></td>
          <td><input type="text" th:field="*{shift}" readonly></td>
        </div>
      </tr>
      <tr>
        <div>
          <td><label style="margin-right: 58px">Salary</label></td>
          <td><input type="text" th:field="*{salary}" readonly></td>
        </div>
      </tr>
      <tr>
        <td><input type="submit" value="Delete"></td>
      </tr>
    </fieldset>
  </form>
</div>
<footer>
  <div id="footer">
    <div id ="ft1">
      <ul>
        <h2>Giới thiệu</h2>
        <a> Hệ thông cửa hàng</a>
        <a> Khuyến mại</a>
        <a> Tuyển dụng</a>
        <a> Liên hệ</a>
      </ul>
    </div>
    <div id ="ft2">
      <img src="/pictures2/face.png" style="width: 20px; height: 20px">
      <img src="/pictures2/ims.png" style="width: 20px; height: 20px">
      <img src="/pictures2/tw.jpg" style="width: 20px; height: 20px">
      <img src="/pictures2/za.webp" style="width: 20px; height: 20px">
      <img src="/pictures2/you.png" style="width: 20px; height: 20px">
      <img src="/pictures2/gg.png" style="width: 20px; height: 20px">
      <img src="/pictures2/ggm.png" style="width: 20px; height: 20px">
    </div>
  </div>
</footer>
</body>
</html>