<!DOCTYPE html>
<html lang="en" xmlns:form="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/login/layout-home :: head">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="top">
  <div id="logo">
    <img src="./pictures/logo2.png" style="width: 210px;height: 100px;">

  </div>

  <div id="top2">
    <div id ="timkiem">
      <div class="box">
        <input type="text" placeholder="Search here">
        <a><i class="fas fa-search-location"></i></a>
      </div>
    </div>
    <div id="Dangxuat">
      <button onclick="getInfo() ; "><strong>ĐĂNG XUẤT</strong></button>
    </div>
  </div>
</div>


<div id="menu">
  <button onclick="getInfo() "><strong>TRANG CHỦ</strong> </button>
  <button onclick="getInfo() ; "><strong>MÓN HIỆN TẠI HẾT</strong> </button>
  <button onclick="getInfo() ;"><strong>MÓN HOT</strong> </button>
  <button onclick="getInfo() ; " ><strong>LỊCH LÀM NHÂN VIÊN</strong> </button>
  <button onclick="getInfo() ;"><strong>HỖ TRỢ</strong> </button>
</div>

<div id="main">
  <div id="left">
    <button onclick="getInfo() ; " ><strong><a th:href="@{home/dish}">MÓN</a> </strong> </button>
    <button onclick="getInfo() ; " ><strong><a th:href="@{home/checklist}">BẢNG KIỂM ĐỒ</a> </strong> </button>
    <button onclick="getInfo() ; " ><strong><a th:href="@{home/main-ingredient}">NGUYÊN LIỆU</a> </strong> </button>
    <button onclick="getInfo() ; " ><strong><a th:href="@{home/employee}">HỒ SƠ NHÂN VIÊN</a> </strong> </button>
    <button onclick="getInfo() ;"><strong>BÁO CÁO</strong> </button>
  </div>

  <div id="right">
    <ul>
      <li>
        <img src="./pictures/2.jpg">
        <h2> Cơm cuộn truyền thống</h2>
        Cơm cuộn rong biển Hàn Quốc hay còn gọi là Kimbap/Gimbap là một món cơm ngon,
        thơm và đủ dinh dưỡng. Cách làm cơm cuộn rong biển cũng rất đơn giản nhưng cần có bí quyết để cơm không bị khô.
      </li>
      <li>
        <img src="./pictures/4.jpg">
        <h2>Tokbokki truyền thống</h2>
        Tokbokki hay còn gọi là bánh gạo cay là một món ăn truyền thống của Hàn Quốc mà mỗi du khách đến đất nước này đều muốn thưởng thức.
        Nhưng với công thức dưới đây, bạn có thể thưởng thức trọn vẹn vị ngon của bánh gạo cay...
      </li>
      <li>
        <img src="./pictures/10.jpg">
        <h2>thông tin về ẩm thực</h2>
        Ngày nay nền văn hóa các nước có sự giao thoa và hội nhập rất lớn.
        Ẩm thực Hàn Quốc là một điển hình bởi ngày nay chúng ta đang dần thích nghi và yêu thích các món ăn mang hương vị Hàn Quốc.
      </li>
      <li>
        <img src="./pictures/b.png">
        <h2>Quán mới khai trương</h2>
        Bạn sẽ không khó để tìm đến tiệm bánh mì nhỏ mang tên Hòa Mã nằm trên đường Cao Thắng, quận 3.
        Theo lời kể lại của nhiều người thì đây là một trong những nơi bán bánh mì thịt đầu tiên ở Sài Gòn..
      </li>
    </ul>
  </div>
</div>

<div id="footer">
  <div id ="ft1">
    <ul>
      <h2>*Giới thiệu</h2>
      <a>. Hệ thông cửa hàng</a>
      <a>. Khuyến mại</a>
      <a>. Tuyển dụng</a>
      <a>. liên hệ</a>
    </ul>
  </div>
  <div id ="ft2">
    <img src="./pictures/face.png" style="width: 20px; height: 20px">
    <img src="./pictures/ims.png" style="width: 20px; height: 20px">
    <img src="./pictures/tw.jpg" style="width: 20px; height: 20px">
    <img src="./pictures/za.webp" style="width: 20px; height: 20px">
    <img src="./pictures/you.png" style="width: 20px; height: 20px">
    <img src="./pictures/gg.png" style="width: 20px; height: 20px">
    <img src="./pictures/ggm.png" style="width: 20px; height: 20px">
  </div>
</div>

</body>
</html>